<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" sizes="192x192" href="../static/images/icon.png">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>404 Page Not Found</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand text-white" href="/"><img src="../static/images/logo.png" width="50"> FlipMart Customer Care</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class=" nav-item">
                    <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('customerlogin')}}">Customer Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('agentlogin')}}">Agent Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('adminlogin')}}">Admin Login</a>
                </li>
            </ul>
        </div>
    </nav>


    <section>
        <div class="container text-center my-5 py-5">
            <img src="../static/images/404.png" width="50%" />
            <h3>The page you are looking for was not found.</h3>
        </div>
    </section>


    <footer class="text-white py-2" data-aos="fade-up">
        <div class="row m-0">
            <div class="col-md-4 px-lg-5 py-4">
                <h5 class="text-warning" style="font-family: 'Kanit', sans-serif;">ABOUT</h5>
                <p>FlipMart is an e-commerce company, FlipMart is known for its disruption of well-established
                    industries through technological innovation and mass scale.</p>
            </div>
            <div class="col-md-4 px-lg-5 py-4">
                <h5 class="text-warning" style="font-family: 'Kanit', sans-serif;">QUICK LINKS</h5>
                <a class="text-white" href="{{url_for('customerlogin')}}">Customer Login</a><br>
                <a class="text-white" href="{{url_for('customerregister')}}">Customer Register</a><br>
                <a class="text-white" href="{{url_for('agentlogin')}}">Agent Login</a><br>
                <a class="text-white" href="{{url_for('adminlogin')}}">Admin Login</a>
            </div>
            <div class="col-md-4 px-lg-5 py-4">
                <h5 class="text-warning" style="font-family: 'Kanit', sans-serif;">CONTACT</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i> Telangana, India</li>
                    <li><i class="fa fa-envelope-o"></i> abdulrahman92mohd@gmail.com</li>
                    <li><i class="fa fa-phone"></i> +91 8919668452</li>
                </ul>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-6 text-center text-md-left px-5">
                <p>Copyright &copy; 2021 FLIPMART</p>
            </div>
            <div class="col-md-6 text-center text-md-right px-5 ">
                <a href="#"><img class="mx-1" src="../static/images/social-media/facebook.png" width="25"/></a>
                <a href="#"><img class="mx-1" src="../static/images/social-media/twitter.png" width="25"/></a>
                <a href="#"><img class="mx-1" src="../static/images/social-media/instagram.png" width="25"/></a>
                <a href="https://github.com/smartinternz02/SPS-9752-Customer-Care-Registry-"><img class="mx-1" src="../static/images/social-media/github.png" width="25"/></a>
            </div>
        </div>
    </footer>


    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>